Makefile
.*.flags
*.a
*.o
*.la
*.lo
*.pc
*.guess
.deps
.libs
ltmain.sh
acinclude.m4
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.sub
config.status
configure
libtool
stamp-h1
Makefile.in
dreambox
buildlog.txt
compile
missing
MD5SUM
COPYING
INSTALL
install-sh
depcomp
ukcvs-*-*.img
ukcvs-*-*.zip
